@model IEnumerable<WebShopShoes.Models.Customers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Share/_Layout.cshtml";
}


<div class="">
    <div class="page-header-title">
        <h3 class="page-title">Danh sách khách hàng</h3>
    </div>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Thêm mới</a>
</p>
<table class="table table-bordered" style="text-align:center">

    <thead class="thead-dark">
        <tr>
            <th style="text-align:center" scope="col">Họ và tên</th>
            <th style="text-align:center" scope="col">Tên đăng nhập</th>
            <th style="text-align:center" scope="col">Mật khẩu</th>
            <th style="text-align:center" scope="col">Email</th>
            <th style="text-align:center" scope="col">Địa chỉ</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="thead-light">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/admin.common.js"></script>

