@model  IEnumerable<WebShopShoes.Models.Color>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Share/_Layout.cshtml";
}

<h2>Color</h2>
<button type="button" class="btn btn-primary"><a asp-action="Create">Thêm màu mới</a></button>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.NameColor)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th>@Html.DisplayFor(modelItem => item.Id)</th>
            <th>@Html.DisplayFor(modelItem => item.NameColor)</th>
            <th>
                <button type="button" class="btn-primary btn-rounded"><a asp-action="Edit" asp-route-id="@item.Id">Sửa</a></button>
                <button type="button" class="btn-success btn-rounded"><a asp-action="Detail" asp-route-id="@item.Id">Chi tiết</a></button>
                <button type="button" class="btn-danger btn-rounded"><a asp-action="Delete" asp-route-id="@item.Id">Xóa</a></button>
            </th>
        </tr>
        }

    </tbody>
</table>

